<div class="container">
  <div class="page-header">
    <h3 class="text-center">Formulir Sertifikat Peserta PKKP PNJ 2018</h3>
  </div>
  <p class="text-muted">
    Terima kasih <b><%= @participant.name %></b> telah mendaftar di PKKP 2018. Klik <a href="/peserta">di sini</a> untuk kembali ke halaman
    formulir.
  </p>
</div>

