<div class="container">
  <div class="page-header">
    <h3>Politeknik Negeri Jakarta</h3>
  </div>
  <small class="text-muted"><%= Date.today %></small>
  <p>Formulir untuk Panitia dan Peserta PKKP 2018.</p>
  <img src="https://res.cloudinary.com/hji1aylwh/image/upload/v1532864212/pkkp_prrrew.jpg" alt="PNJ" class="img-responsive">
  <h3><%= link_to '(Ditutup) Formulir Panitia PKKP 2018', '#' %></h3>
  <h3><%= link_to '(Ditutup) Formulir Peserta PKKP 2018', '#' %></h3>
</div>
