<div class="container">
  <div class="page-header">
    <h3>Jadwal Kegiatan</h3>
  </div>
  <small class="text-muted"><%= Date.today %></small>
  <p>Pendaftaran untuk Panitia PKKP 2017.</p>
  <h2><%= link_to 'Pendafataran Pantia', panitia_path %></h2>
</div>
