<div class="container">
  <div class="page-header">
    <h3>Politeknik Negeri Jakarta</h3>
  </div>
  <small class="text-muted"><%= Date.today %></small>
  <p>Pendaftaran untuk Panitia PKKP 2018.</p>
  <img src="https://res.cloudinary.com/hji1aylwh/image/upload/v1532864212/pkkp_prrrew.jpg" alt="PNJ" class="img-responsive">
  <h3><%= link_to 'Pendaftaran Panitia PKKP 2018', panitia_path %></h3>
  <hr>
  <small class="text-muted"><%= Date.today %></small>
  <h3><%= link_to 'Pendaftaran Peserta PKKP 2018', peserta_path %></h3>
</div>
