<div class="container">
  <div class="page-header">
    <h3>Jadwal Kegiatan</h3>
  </div>
  <small class="text-muted">Rabu, 3 Agustus 2016 | 9:31 WIB</small>
  <p><a href="<%= panitia_path %>">Pendaftaran untuk Panitia PKKP 2016</a></p>
</div>
