<div class="container">
  <div class="page-header">
    <h3>Politeknik Negeri Jakarta</h3>
  </div>
  <small class="text-muted"><%= Date.today %></small>
  <p>Pendaftaran untuk Panitia PKKP 2018.</p>
  <%= image_tag 'pkkp.jpeg', class: 'img-responsive' %>
  <h3><%= link_to 'Formulir Pendaftaran Panitia PKKP 2018', panitia_path %></h3>
</div>
