<div class="container">
  <div class="page-header">
    <h3>Jadwal Kegiatan</h3>
  </div>
  <small class="text-muted">Rabu, 3 Agustus 2016 | 9:31 WIB</small>
  <p>Lorem ipsum dolor sit amet, accusam epicurei quaestio sea et, his ei sint commune. Ut his malis dissentiet deterruisset, et ipsum debet nam. Molestiae forensibus vel cu, in simul intellegat eos, ea elitr sententiae sit. Ex mei dicat gloriatur, eligendi detraxit duo et, vocent signiferumque ut est. Te ius periculis intellegat, id his quis rebum fierent. Mundi numquam vituperatoribus et nam, cu sea melius scaevola. Dolores officiis euripidis eum et, an his sanctus fabulas legimus, epicuri honestatis mea id.</p>
  <p>Lorem ipsum dolor sit amet, accusam epicurei quaestio sea et, his ei sint commune. Ut his malis dissentiet deterruisset, et ipsum debet nam. Molestiae forensibus vel cu, in simul intellegat eos, ea elitr sententiae sit. Ex mei dicat gloriatur, eligendi detraxit duo et, vocent signiferumque ut est. Te ius periculis intellegat, id his quis rebum fierent. Mundi numquam vituperatoribus et nam, cu sea melius scaevola. Dolores officiis euripidis eum et, an his sanctus fabulas legimus, epicuri honestatis mea id.</p>
  <p>Lorem ipsum dolor sit amet, accusam epicurei quaestio sea et, his ei sint commune. Ut his malis dissentiet deterruisset, et ipsum debet nam. Molestiae forensibus vel cu, in simul intellegat eos, ea elitr sententiae sit. Ex mei dicat gloriatur, eligendi detraxit duo et, vocent signiferumque ut est. Te ius periculis intellegat, id his quis rebum fierent. Mundi numquam vituperatoribus et nam, cu sea melius scaevola. Dolores officiis euripidis eum et, an his sanctus fabulas legimus, epicuri honestatis mea id.</p>

  <div class="page-header">
    <h3>Informasi Peserta</h3>
  </div>
  <small class="text-muted">Selasa, 2 Agustus 2016 | 9:31 WIB</small>
  <p>Lorem ipsum dolor sit amet, accusam epicurei quaestio sea et, his ei sint commune. Ut his malis dissentiet deterruisset, et ipsum debet nam. Molestiae forensibus vel cu, in simul intellegat eos, ea elitr sententiae sit. Ex mei dicat gloriatur, eligendi detraxit duo et, vocent signiferumque ut est. Te ius periculis intellegat, id his quis rebum fierent. Mundi numquam vituperatoribus et nam, cu sea melius scaevola. Dolores officiis euripidis eum et, an his sanctus fabulas legimus, epicuri honestatis mea id.</p>
</div>
