<div class="container">
  <div class="page-header">
    <h3>Politeknik Negeri Jakarta</h3>
  </div>
  <small class="text-muted"><%= Date.today %></small>
  <p>Formulir untuk Panitia dan Peserta PKKP 2019.</p>
  <img src="https://res.cloudinary.com/hji1aylwh/image/upload/v1532864212/pkkp_prrrew.jpg" alt="PNJ" class="img-responsive">
  <h3><%= link_to 'Formulir Panitia PKKP 2019', panitia_path %></h3>
  <h3><%= link_to 'Formulir Peserta PKKP 2019', peserta_path %></h3>
</div>
