<div class="container">
  <div class="page-header">
    <h1 class="text-center">Pendaftaran PKKP 2016</h1>
  </div>
  <p class="lead">
    Terima kasih <b><%= @user.name %></b> telah mendaftar di PKKP 2016. Klik <a href="<%= root_url %>">di sini</a> untuk kembali ke halaman
    pendaftaran.
  </p>
</div>
