<div class="container">
  <div class="page-header">
    <h3 class="text-center">Pendaftaran Panitia PKKP PNJ 2016</h3>
  </div>
  <p class="text-muted">
    Terima kasih <b><%= @user.name %></b> telah mendaftar di PKKP 2016. Klik <a href="<%= root_url %>">di sini</a> untuk kembali ke halaman
    pendaftaran.
  </p>
</div>
